/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger{
    width: 24px;
    height: 24px;
    position: relative;
}
.hamburger-top,.hamburger-middle,.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: all 0.5s;
    transform: roate(0);
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open .hamburger-top{
    transform: rotate(45deg);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg);
}